.startGame-main{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.startGame-main button{
  font-size: 20px;
  padding: 20px 50px;
  background-color: #0079FF;;
  border: 3px solid #0079FF;;
  outline: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.startGame-main button:hover{
  background-color: white;
  color: #0079FF;
}